@charset "UTF-8";



table{
	   background-color: rgba( 255, 255, 255, 0.6 );
	padding-top:200px;
	margin-top:120px;
		height:500px;
		color:black;
	width:400px;
	text-align:center;
	
	
}
input{
	width:130px;
	   background-color: rgba( 255, 255, 255, 0.5 );
	border:0 solid black;
}
button{
	   background-color: rgba( 255, 255, 255, 0.7 );
		border-color: orange;
		border-radius:10px;
		padding: 4px;
		margin:10px;
		
		

}
button#btn{
				   background-color: rgba( 255, 255, 255, 0.92 );
		margin-top:40px;
}
.textbtn{
	
	text-align:left;
	margin-left:5px;
}
body{
font-weight: 500;
    line-height: 1.2;	
}