@charset "UTF-8";
.img-fluid2{
height:250px;
width:250px;
}
.img-fluid3{
height:400px;
width:350px;
}
.img-fluid4{
width:350px;
height:294px;
}
.img-fluid5{
width:952px;
height:470px;}
.img-fluid6{
width:480px;
height:520px;}

.img-fluid7{
width:480px;
height:350px;}
.img-fluid8{
width:300px;
height:300px;
}
